@use "mixins" as mix;
@use "variables" as var;
@use "colors" as color;

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    @include mix.tablet {
        height: 100vh;
    }
    

    & .cards-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 80%;
        

        @include mix.tablet {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 50px;
            padding: 100px;
        }
        

        &__about {
            @include mix.card;

            @include mix.tablet {
                margin: 0;
            }
        }

        &__divider {
           @include mix.divider;

           @include mix.tablet {
            display: none;
           }
        }

        &__skills {
            @include mix.card;

            @include mix.tablet {
                margin: 0;
            }
        }

        
    }
}



