@use "colors" as color;
@use "mixins" as mix;


.cards-container__about {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    @include mix.card-holder; 

        &--show {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
            transform: rotateY(180deg);
        }

        &--hide {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
        }
}

.cards-container__skills {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;

        &--show {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
            transform: rotateY(180deg);
        }

        &--hide {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
        }
}

.cards-container__project {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;

        

        &--show {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
            transform: rotateY(180deg);
        }

        &--hide {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
        }

}


.card-back {
    
    @include mix.card-backside;
    transition: transform 0.8s;
    background-image: url("../assets/pngwing.com.png");
    background-size: cover;
    position: relative;

    &__frame {
        @include mix.card-backside;
        background-color: rgba(0, 0, 0, 0);
        scale: 0.95;
        border: 1px solid color.$dark-grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    &__img-container {
        height: 85%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        cursor: pointer;
        

        & > img {
            @include mix.image;
            backface-visibility: hidden;
        }

        & > .image-flipped {
            transform: rotate(180deg);
        }
    }

    &__text-container {
        height: 15%;
        width: 100%;
        border-top: 1px solid color.$dark-grey;
        display: flex;
        justify-content: center;
        align-items: center;

        & > h4 {
            font-size: 1.5rem;
            margin: 0;
            color: color.$dark-grey;
        }

        & > .project-title {
            font-size: 0.8rem;
            text-transform: uppercase;
        }
        
    }

      
      &:hover{
        transform: scale(1.1); 
        cursor: pointer;
      }
    
}

.card-front {

    @include mix.card-frontside;
    transform: rotateY(180deg);
    background-image: url("../assets/paper.png");
    background-size: cover;
    
    scale: 1.1; 
    cursor: pointer;

    &__frame {
        @include mix.card-backside;
        scale: 0.95;
        border: 1px solid color.$dark-grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        background-color: rgba(0, 0, 0, 0);
    }
      

    &__img-container {
        height: 85%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        cursor: pointer;
        

        & > img {
            @include mix.image;
            backface-visibility: hidden;
            border-radius: 15px;
        }
    }


    & > a {
        z-index: 100;
        color: pink;
        font-size: 0.8rem;
        

        &:hover {
            color: color.$red;
        }
    }

    & > h4 {
        font-size: 0.8rem;
    }

    &__title-container {
        height: 15%;
        width: 100%;
        border-top: 1px solid color.$dark-grey;
        display: flex;
        justify-content: center;
        align-items: center;

        & > h4 {
            font-size: 1.5rem;
            margin: 0;
            color: color.$dark-grey;
        }

        & > .project-title {
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }

    &__text-container {
        height: 85%;
        width: 100%;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        cursor: pointer;

        & > p {
            backface-visibility: hidden;
            padding: 0;
            margin: 0;
            width: 80%;
        }

        & > a {
            padding: 0;
            margin: 0;
            width: 80%;
        }

    }

}