@use "colors" as color;
@use "mixins" as mix;


.cards-container__about {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    @include mix.card-holder; 

        &--show {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
            transform: rotateY(180deg);
        }

        &--hide {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
        }
}

.cards-container__skills {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;

        &--show {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
            transform: rotateY(180deg);
        }

        &--hide {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
        }
}

.cards-container__project {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    cursor: pointer;

        

        &--show {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
            transform: rotateY(180deg);
        }

        &--hide {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
        }

}


.card-back {
    
    @include mix.card-backside;
    transition: transform 0.8s;
    background-image: url("../assets/backside-red.png");
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: flex-end;


    &__frame {
        @include mix.card-backside;
        background-color: rgba(0, 0, 0, 0);
        scale: 0.95;
        border: 1px solid color.$dark-grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
    }

    &__img-container {
        height: 85%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;
        cursor: pointer;
        

        & > img {
            @include mix.image;
            backface-visibility: hidden;
        }

        & > .image-flipped {
            transform: rotate(180deg);
        }
    }


        & > h4 {
            font-size: 1.2rem;
            margin: 32px;
            color: color.$dark-grey;
        }

        & > .project-title {
            font-size: 0.7rem;
            text-transform: uppercase;
        }
        


      
      &:hover{
        transform: scale(1.1); 
        cursor: pointer;
      }
    
}

.card-front {
    

    @include mix.card-frontside;
    transform: rotateY(180deg);
    background-image: url("../assets/frontside-red.png");
    background-size: cover;
    cursor: pointer;
    gap: 50px;


    &__title-container {

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & > h4 {
            font-size: 1rem;
            margin: 0;
            color: color.$dark-grey;
        }

        & > .project-title {
            font-size: 0.8rem;
            text-transform: uppercase;
        }
    }

    &__text-container {

        width: 90%;
        gap: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        backface-visibility: hidden;
        cursor: pointer;
        height: 70%;

        & > p {
            backface-visibility: hidden;
            padding: 0;
            margin: 0;
            width: 80%;
            color: color.$beige;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        & > a {
            padding: 0;
            margin: 0;
            width: 80%;
        }

    }

    &__github-link {

        backface-visibility: hidden;
        padding: 0;
        margin: 0;
        width: 80%;
        height: 20%;
        transition: 0.7s;

            &:hover {
                transform: scale(1.1); 

            }
        }
    

    


}