@use "colors" as color;
@use "mixins" as mix;


.cards-container__about {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;


        

        &--show {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
            transform: rotateY(180deg);
        }

        &--hide {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
        }

    
}

.cards-container__skills {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    
        

        &--show {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
            transform: rotateY(180deg);
        }

        &--hide {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
        }
    
}

.cards-container__project {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;

        

        &--show {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
            transform: rotateY(180deg);
        }

        &--hide {
            @include mix.card-holder;
            transform-style: preserve-3d;
            transition: all 0.5s ease; 
        }
}


.card-back {
    
    @include mix.card-backside;

    &__img-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        backface-visibility: hidden;

        & > img {
            @include mix.image;
            backface-visibility: hidden;
        }
    }
    
}

.card-front {

    
    & > p {
        backface-visibility: hidden;
        padding: 0;
        margin: 0;
        width: 80%;
    }

    @include mix.card-frontside;
    transform: rotateY(180deg);

}