@use "mixins" as mix;
@use "variables" as var;
@use "colors" as color;

.content-container__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 200;
    color: color.$beige;
    font-size: 1rem;
    gap: 30px;
    height: 25vh;
}

.contact-info__container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-around;
}

.footer__text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    // flex-wrap: wrap;
    gap: 10px;
    @include mix.tablet {
        flex-direction: row;
        
    }

    & > p {
        margin: 0;
    }

    & > b {
        color: color.$blue;
    }

    & > a {
        cursor: pointer;
        color: color.$blue;
        font-weight: bold;
        
    }
    & > a:hover {
        transform: scale(1.1);
        cursor: pointer;
        
    }
}



.sitemap {
    display: flex;
    flex-direction: column;
    &__menu-options {
        margin: 0;
        display: flex; 
        flex-direction: column;
        gap: 20px;
        justify-content: space-around;
        padding: 0;
        font-size: 1.2rem;

        @include mix.tablet {
            justify-content: center;
            gap: 40px;
        }
    }

}

.copyright {
    font-size: 0.9rem;
    height: 15%;
    color: color.$secondary-beige;
    height: auto;
    margin: 0;
}