@use "mixins" as mix;
@use "variables" as var;
@use "colors" as color;

#contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 40vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 200;
    color: color.$beige;
    font-size: 1.2rem;
    gap: 30px;

    & > .copyright {
        font-size: 0.9rem;
        height: 15%;
        color: color.$secondary-beige;
        height: auto;
        margin: 0;
    }
}

.footer__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    @include mix.tablet {
        flex-direction: row;
        
    }

    & > p {
        margin: 0;
    }

    & > b {
        color: color.$blue;
    }

    & > a {
        cursor: pointer;
        color: color.$blue;
        font-size: 0.8rem;
    }
    & > a:hover {
        transform: scale(1.03);
        cursor: pointer;
    }
}

.sitemap {
    height: 20%;
    &__menu-options {
        margin: 0;
        display: flex; 
        flex-direction: row;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        padding: 0;
        font-size: 1.2rem;

        @include mix.tablet {
            justify-content: center;
            gap: 40px;
        }
    }

}