@use "mixins" as mix;
@use "variables" as var;
@use "colors" as color;

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;

    @include mix.tablet {
        height: 80vh;
    }

    & > h2 {
        font-size: 1rem;
        color: color.$beige;
        margin: 0;

        @include mix.desktop {
            font-size: 3rem;
        }
    }


}

.hero__title-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;



        & > img {
            position: absolute;
            bottom: -180%;
            width: 100%;
        }

        @include mix.desktop {
            width: 100%;
        }
    


        & > .title-occupation {
            color: rgb(240, 215, 131);
            font-size: 1rem;
            font-family: 'Philosopher', sans-serif;

            @include mix.desktop {
                font-size: 2rem;
            }

    }
}



