@use "mixins" as mix;
@use "variables" as var;
@use "colors" as color;

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    & > .image-container {
        width: 80%;
        display: flex;
        position: relative;
        

        @include mix.tablet {
            width: 50%;
        }
        @include mix.desktop {
            width: 50%;
        }
    }
}

#hero-image {
    @include mix.image;

    &__flipped {
        @include mix.image;
        transform: rotate(270deg);
    }
}

