@use "reset";
@use "hero";
@use "about";
@use "projects";
@use "contact";

@use "mixins" as mix;
@use "variables" as var;
@use "colors" as color;

body {
    
    display: flex;
    flex-direction: column;
}

.content-title {
    background-color: aqua;
    height: 10vh;
    width: 100vw;
}