@use "variables" as var;
@use "colors" as color;

//breakpoints

@mixin tablet {
    @media screen and (min-width: var.$tablet) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: var.$desktop) {
        @content;
    }
}

//cards

@mixin card {
    background-color: color.$beige;
    height: 60vh;
    width: 80vw;
    margin: 10%;
    border-radius: 15px;
}

@mixin image {
    width: 100%;
}

@mixin divider {
    background-color: aqua;
    height: 5vh;
    width: 80vw;
}