@use "colors" as color;

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: color.$dark-grey;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;

    &:link {
        text-decoration: none;
        color: color.$beige;
    }

    &:visited {
        text-decoration: none;
        color: color.$beige;
    }

    &:hover {
        text-decoration: none;
        color: color.$beige;
    }

    &:active {
        text-decoration: none;
        color: color.$beige;
    }
}

li {
    list-style-type: none;
}