@use "colors" as color;
@use "mixins" as mix;

body {
    margin: 0;
    font-family: 'Gideon Roman', cursive;
    background-color: rgb(0, 0, 14);
    background-image: linear-gradient(rgb(48, 1, 24),rgb(6, 6, 44), rgb(0, 0, 0));

}

html {
    scroll-behavior: smooth;
    scrollbar-width: 0px;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
      }
}



a {
    text-decoration: none;

    &:link {
        text-decoration: none;
        color: color.$beige;
    }

    &:visited {
        text-decoration: none;
        color: color.$beige;
    }

    &:hover {
        text-decoration: none;
        color: color.$blue;
        transform: scale(1.1); 
        transition: all .7s;
    }

    &:active {
        text-decoration: none;
        color: color.$blue;
        

        @include mix.desktop {
            color: color.$beige;
        }
    }
}

li {
    list-style-type: none;
    transition: 0.6s;
    &:hover {
        transform: scale(1.1); 
    }
}